### @author <a href="https://github.com/xxx">xxx</a> ###
### @from <a href="https://xxx.com">xxx</a> ###

# 后端相关忽略文件
/work-user-centre-backend/.idea
/work-user-centre-backend/.mvn
/work-user-centre-backend/mvnw
/work-user-centre-backend/mvnw.cmd
/work-user-centre-backend/target

# 前端相关忽略文件
/work-user-centre-frontend/.idea
/work-user-centre-frontend/.next/
/work-user-centre-frontend/node_modules

